<%- include('partials/header') %>
<body>
    <h1>Browsing the <%= name %> subreddit</h1>
    <h2><%= description %></h2>
    <p><%= subscribers %></p>
    <hr>
    
    <% for (let post of posts) { %>
        <article>
            <p><%= post.title %> <strong><%= post.author %></strong></p>
            <% if (post.img) { %>
                <img src="<%= post.img %>" alt="<%= post.title %>" >
            <% } %>
        </article>
    <% } %>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>

