<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Detail`</title>
</head>
<body>
    <style>
        .del-form {
            display: inline;
        }
        .btn-link {
            border: none;
            outline: none;
            background: none;
            cursor: pointer;
            color: #0000EE;
            padding: 0;
            text-decoration: underline;
            font-family: inherit;
            font-size: inherit;
        }
    </style>

    <h1>Comment ID: <%= comment.id %></h1>
    <h2><%= comment.comment %> - <strong><%= comment.username %></strong></h2>
    <a href="/comments/<%= comment.id %>/edit">Edit Comment</a> | 
    <form action="/comments/<%= comment.id %>?_method=DELETE"" method="post" class="del-form">
        <button type="submit" class="btn-link">Delete</button>
    </form> |     
    <a href="/comments/">Back to Comments</a>
</body>
</html>